* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color:rgb(220, 220, 220);
	background-image: linear-gradient(135deg, rgba(0,0,0,.8) 0%, rgba(220,220,220,.7) 50%);
	position: relative;
}

.container, .note {
	border: 1px solid rgba(150,150,150,.5);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4);
}

.container {
	position: relative;
	min-width: 320px;
	max-width: 900px;
	margin: 75px auto 20px;
	padding: 15px;
	width: 95%;
	background-color: rgb(235,235,235);
}

.note {
	font-size: .85em;
	background-color: white;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 2;
	width: 100%;
	padding: 5px 15px;
}

.note p {
	display: none;
	margin: 10px 0;
	text-indent: 10px;
}

.note:hover h4 ~ p {
	display: block;
}

.myInfo {
	height: 100px;
	margin: 0 0 30px;
	position: relative;
}
.name {
	font-size: 1.5em;
}

.portrait {
	position: absolute;
	right: 0;
	top: 0;
	height: 120px;
	width: 120px;
	border: 7px solid white;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.4);
}

.portrait img {
	width: 100%;
	height: 100%;
}

.category {
	font-size: 1.25em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0px 10px;
	text-indent: 5px;
}

.company {
	font-size: .85em;
	float: left;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 2px;
	margin: 0 0 5px;
}

.title {
	float: left;
	clear: left;
	text-indent: 10px;
	font-size: .85em;
	font-style: italic;
	font-weight: normal;
}

.date {
	float: right;
	font-size: .85em;
	font-style: italic;
}

.description {
	clear: both;
	font-size: .85em;
	margin-bottom: 15px;
}

.task {
	margin-left: 20px;
}

@media all and (max-width: 475px) {
	body {
		font-size: 14px;
	}
	.container {
		width: 98%;
	}
	.portrait {
		height: 75px;
		width: 75px;
	}
	.myInfo {
		height: 75px;
		margin: 0 0 10px;
	}
}
